[submodule "authorization"]
	path = authorization
	url = http://labvm-42-05.itmo-lab.cosm-lab.science/team-13/hps.lab1.git
	branch = authorization
[submodule "chat"]
	path = chat
	url = http://labvm-42-05.itmo-lab.cosm-lab.science/team-13/hps.lab1.git
	branch = chat
[submodule "core"]
	path = core
	url = http://labvm-42-05.itmo-lab.cosm-lab.science/team-13/hps.lab1.git
	branch = core
[submodule "payment"]
	path = payment
	url = http://labvm-42-05.itmo-lab.cosm-lab.science/team-13/hps.lab1.git
	branch = payment
[submodule "attachment"]
	path = attachment
	url = http://labvm-42-05.itmo-lab.cosm-lab.science/team-13/hps.lab1.git
	branch = attachment
